<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - WebChat">WebChat</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="container">
    <div layout:fragment="content">
    </div>
</main>

<footer style="text-align: center; margin-top: 30px; color: #666;">
    <p>WebChat &copy; 2024</p>
</footer>
</body>
</html>